body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: bold;
  /* dodgerblue = #6A5ACD = rgb(106, 90, 205) */
  color: slateblue;
}

h2 {
  font-size: 20px;
}

a {
  /* dodgerblue = #1E90FF = rgb(30, 144, 255) */
  color: rgb(30, 144, 255);
}

.ingredients {
  /* lavender = #E6E6FA = rgb(230, 230, 250) */
  background-color: #E6E6FA;
}
